<!-- views/inventory/vehicleDetail.ejs -->
<html>
<head>
    <title><%= vehicleHTML.title %></title>
    <link rel="stylesheet" href="/styles/vehicleDetail.css">
</head>
<body>
    <main>
        <%= vehicleHTML %>
    </main>
</body>
</html>